*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

body {
    font-size: 1.6rem;
}


.header{
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    position: sticky;
    z-index: 100;
    top: 0px;
}

.container-head__logo{
    padding-top: 4rem;
    padding-bottom: 2.5rem;
    width: 85%;
    background-color: #0b090a;
    color: #f8f9fa;
    font-size: 3rem;
    font-weight:400;
    text-align: center;
    transform: rotate(-3deg); 
    border-radius: 0.6em;
    margin-bottom: 2rem;
    background-image: radial-gradient(circle at 12.5% 12.5%, #676767 0, #555f5f 16.67%, #425659 33.33%, #2b4d53 50%, #0a434f 66.67%, #003a4b 83.33%, #003249 100%);
}

nav {
    width: 100%;
}
.container-head__menu{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-evenly;
    width: 100%;
    background-color: #161a1d;
    color: white;
    opacity: 90%;

}
.nav-item{
    display: inline-block;
    padding: 1rem;
    width: auto;
}
.nav-item a{
    display: inline-block;
    padding: 1rem;
    width: auto;
    text-decoration: none;
    color: white;
}

.container-main {
    width: 100%;
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: f5f3f4;
    justify-content: center;
}

.container-main__foto{
    justify-content: center;
    display: flex;
    width: 100%;
    height: auto;  
}

.container-main__foto .foto{
    width: 25rem;
    height: 25rem;
    border-radius: 12.5em;
    margin-bottom: -5rem;
    margin-top: 2rem;
    position: relative;
    z-index: 90;
    border: 0.4rem solid white;
}

.container-main__foto .logo{
    width: 21rem;
    height: 21rem;
    margin-top: 3rem;
    position: relative;
    z-index: 90;
}

.container-main__foto .logo:hover{
    width: 22rem;
    height: 22rem;
    margin-top: 3rem;
    position: relative;
    z-index: 90;
}

.titulo1{
    text-align: center;
    font-size: 3rem; 
}

.fas{
    font-size: 6rem;
}

.icono{
    display: inline-block;
    width: 100%;
    height: auto;
    text-align: center;
    
}
.aboutme{
    padding: 2rem;
    width: 100%;
    background-color: f5f3f4;
    
}

.container-footer{
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: blue;

}




