*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

.container {
    margin:0 auto;
    max-width: 80rem;
    display: flex;
    flex-wrap: wrap;
}

.c1, .c2, .c3, .c4, .c5, .c6{
    width: 100%;
    min-width: 150px;
    height: 150px;
}

.c1 {
    background-color: #03045e;
}

.c2 {
    background-color: #023e8a;
}

.c3 {
    background-color: #0077b6;

}

.c4 {
    background-color: #0096c7;
}

.c5 {
    background-color: #00b4d8;
}

.c5 {
    background-color: #00b4d8;
}

.c6 {
    background-color: #48cae4;
}
